<ActionBar title="Bundledocs">
    <Image src="res://bundlelogo" class="logo"></Image>
    <ActionItem android.position="popup" [text]="htmlUsersToken" (tap)="openGmail()"></ActionItem>
    <ActionItem android.position="popup" [nsRouterLink]="['/login']" class="link" text="Home"></ActionItem>
    <ActionItem android.position="popup" text="Account Settings"></ActionItem>
    <ActionItem android.position="popup" text="Upgrade & Billing"></ActionItem>
    <ActionItem android.position="popup" text="Groups & Sharing"></ActionItem>
    <ActionItem android.position="popup" text="Manual" (tap)="openManual()"></ActionItem>
    <ActionItem android.position="popup" text="Sign Out" (tap)="logout()"></ActionItem>
</ActionBar>

<StackLayout>
    <!-- <Button [nsRouterLink]="['/secure']" class="link" text="Secure"></Button>
        <Button [nsRouterLink]="['/login']" class="link" text="Login"></Button>  -->
    <!-- <HtmlView [html]="htmlAccessToken"></HtmlView>
    <HtmlView [html]="htmlUsersToken"></HtmlView> -->
    <SearchBar #txtSearchPhrase hint="Search For Bundle" [text]="searchPhrase" (textChange)="onTextChanged($event)" (submit)="onSubmit($event)"
        color="white" textFieldBackgroundColor="lightgray" textFieldHintColor="white"></SearchBar>
    <!-- <AbsoluteLayout>
        <Button class="myBundleButton" (tap)="newBundle()" text="+ New Bundle"></Button>
        <Button class="myHelpButton" (tap)="help()" text="?"></Button>
    </AbsoluteLayout> -->
    <Label text="Bundles" class="show-bundles">

    </Label>
    <RadListView #lstBundles [row]="row"  (loaded)="ngAfterViewInit()" [items]="bdUserBundles" pullToRefresh="true" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)">
            <ng-template let-item="item">
                    <StackLayout class="list-group-item">
                        <AbsoluteLayout>
                            <Label class="bundle-title" [text]="item.Title"></Label>
                            <Label class="bundle-code" [text]="item.Code"></Label>
                            <Button class="editBundleButton" (tap)="editBundle(item)" text="&#9998;"></Button>
                            <Label class="bundle-date" [text]="item.Created"></Label>
                        </AbsoluteLayout>
                    </StackLayout>
                </ng-template>
    </RadListView>
</StackLayout>