@import '~nativescript-theme-core/css/core.light.css';
ActionBar {
    background-color:light-gray;
    color: white;
}

.myBundleButton{
    margin-right:70%;
    background-color:#62A5E2;
    color:white;
    font-weight: bold;
    height: 60;
    width:100;
}
.myHelpButton{
    margin-left:75%;
    background-color: #DEA026;
    color:white;
    font-weight: bold;
    font-size: 28em;
    height: 60;
    width:60;
}

.show-bundles{
    font-size: 20em;
    margin:8;
    color:black;
    border: 5em solid;
}

.logo{
    margin-top:5;
    margin-left: 20;
    margin-right: 35;
}
.bundle-title{
    margin-left:0%;
    font-weight:bold;
    margin-top:10;
}

.bundle-code{
    margin-left:50%;
    margin-top:10;
    font-weight:bold;
}

.editBundleButton{
    margin-left:80%;
    background-color:#62A5E2;
    color:white;
    font-weight: bold;
    font-size: 20em;
    height: 45;
    width:45;
}